header {
	width: 800px;
	height: 180px;
	margin: auto;
	color: white;
	font-size: 36px;
	text-align: center;
	background-color: black;
	padding-bottom: 15px;
	font-family: 'Raleway', sans-serif;
	border-bottom: solid 5px #326697;
}

header > div {
	padding: 80px
}

nav {
	width: 800px;
	margin: auto;
	padding: 15px 0px;
	text-align: center;
	background-color: white;
}

nav .nav-button {
	color: black;
	margin-right: 20px;
	text-decoration: none;
}

body {
	margin: 0px;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	background-image: url("img/rainbow-bg.jpg");
}

main {
	width: 80%
	background-color: white;
}

.section-container {
	width: 800px;
	height: 290px;
	margin: auto;
	padding-top: 25px;
	background-color: white;
}

.section-container .section-thumb {
	float: left;
}

.section-container .section-thumb img {
	margin-left: 15px;
	border-radius: 50%;
	object-position: 10% 0;
	object-fit: cover;
  width: 280px;
  height: 290px;
}

.section-content {
	margin-left: 360px;
}

.section-content h2 {
	margin-top: 0px;
}

.section-content p:nth-of-type(1) {
	font-style: italic;
}

.section-content p:nth-of-type(2) {
	font-weight: bold;
}

button {
	border: none;
	color: white;
	outline:none;
	font-size: 12px;
	cursor: pointer;
	border-radius: 6px;
	padding: 8px 125px;
	text-align: center;
	display: inline-block;
	background-color: #2EC3EE;
}

ol {
	margin-top: 25px;
	padding-left: 14px;
}

ol li {
	padding-bottom: 14px;
}

footer {
	width: 800px;
	margin: auto;
	padding: 15px 0px;
	text-align: center;
	background-color: white;
}

footer > div > a {
	color: #2EC3EE;
	text-decoration: none;
}

footer > div > img {
	width: 40px;
	height: 40px;
}